#about {
  margin-top: 4rem;
}

#about h3 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-image {
  width: 45%;
}

.about-image img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: contain;
}

.about-text {
  width: 45%;
}

.about-text p {
  width: 100%;
  text-align: justify;
}
